# Ignore TestNG execution reports
test-output/
target/
build/
temp-testng.xml

# Ignore screenshots folder contents, but keep .gitkeep
Screenshots/*
!Screenshots/.gitkeep

# Ignore IDE specific files
.settings/
.project
.classpath
bin/