<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">

    <!-- Test 1: DashboardTests -->
    <test name="Dashboard Test Execution">
        <classes>
            <class name="tests.DashboardTests"/>
        </classes>
    </test>

    <!-- Test 2: LoginTests -->
    <test name="Login Test Execution">
        <classes>
            <class name="tests.LoginTests"/>
        </classes>
    </test>

</suite>