<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Inventory Management Automation Suite" verbose="1">

    <!-- Global timeout for all tests to prevent infinite hangs -->
    <test name="Full Regression Test" preserve-order="true">
        <classes>
            <!-- Login tests -->
            <class name="tests.LoginTests"/>
            
            <!-- Dashboard tests -->
            <class name="tests.DashboardTests"/>
            
            <!-- Products Page functionality tests -->
            <class name="tests.ProductsTests"/>
            
            <!-- New category and suppliers adding tests -->
            <class name="tests.AddItemInsidePopupsTests"/>
            
            <!-- Edit Item tests -->
            <class name="tests.EditItemsTest" />
            
            <!-- Delete Item tests -->
            <class name="tests.DeleteItemsTests"/>
            
            <!-- Cancel Delete Item tests -->
            <class name="tsts.CancelDeleteTests" />
        </classes>
    </test>

</suite>